flows.json
[{"id":"fe3030af.df828","type":"tab","label":"SCDFxIBM","disabled":false,"info":""},{"id":"b9bb2aa5.108018","type":"watson-speech-to-text","z":"fe3030af.df828","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"wML3jTR7jqblmWbvDsRXKsaxnHM8YuCHeVBNPnDVkBgw","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":300,"y":360,"wires":[["6d37e63b.f87908","a17fe376.04299"]]},{"id":"6d37e63b.f87908","type":"debug","z":"fe3030af.df828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":530,"y":280,"wires":[]},{"id":"4fdca313.fdc3dc","type":"microphone","z":"fe3030af.df828","name":"","x":110,"y":360,"wires":[["b9bb2aa5.108018"]]},{"id":"4509dde.683fa24","type":"play audio","z":"fe3030af.df828","name":"","voice":"0","x":570,"y":680,"wires":[]},{"id":"8aef6436.1fcc98","type":"watson-text-to-speech","z":"fe3030af.df828","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"6KbghDpqy2yivnw8XUKs33p2Do58raDGiCvy1mmi64nW","payload-response":false,"service-endpoint":"","x":340,"y":680,"wires":[["4509dde.683fa24"]]},{"id":"e62c91f1.6bfe5","type":"inject","z":"fe3030af.df828","name":"","topic":"","payload":"Good day Sir/Madam. Welcome to Group 37squared video pitch. This is Jolyn and Rahim. We are undergraduates from NTU SBS. We will be using Watson’s speech to text feature for this video pitch.   We chose to tackle the “Preventing The Spread” problem statement which seeks a solution on upstream solutions, using technology, to provide efficient responses & strategies to minimize escalation of these incidents into large events.  Our team focused on solutions for fire incidents. When SCDF receives information on an incident, either by 995 or by the myresponder app, information provided by the caller is extremely important to deploy adequate resources such as firefighters, paramedics and equipment to the incident location. Acquisition of information can be further optimized to ensure resources and manpower are allocated efficiently.   Firstly, the information obtained from the caller is converted into text form, either via the Waston Speech to Text feature, or via AI which identifies the keywords denoting the details about the fire incident.   The details will be consolidated into a table containing necessary information for the firefighters deployed to understand the fire incident and prepare the necessary equipment to fight the fire effectively. The site plan of the address will be retrieved from IBM cloud storage.  From the location information consolidated, site plans, with all possible entry information, electrical hazards, ventiliations etc. will be retrieved from IBM Cloud Object Storage.  995 drones will be deployed immediately to the location where the fire is reported. The attached video camera on the drone will provide critical visual information to deployed officers on the size of the fire and to look for possible entry routes prior to arrival. The pictures and videos taken will be uploaded to IBM cloud storage to strategize entry routes and access points using machine learning.   By deploying multiple drones that can exchange signals to identify each of their relative positions, the location can be mapped effectively onto the site map. Real time information on the spread of the fire will be disseminated to firefighters deployed.  Thermal imaging can be used to gauge the position of the fire relative to the entry point. Drones will also be equipped with fire extinguishers and hose attachments, in order to start fighting the fire before firefighters arrive at the scene. The object detection feature installed in the drone camera can help distinguish people from the fire, effectively paving an escape route for people trapped in the fire. (I am worried that visibility will be a problem - lots of smoke, tough to see)..i guess we can say its a combination of normal and thermal imaging   Information from the public consolidated, results from object detection machine learning, site & floor plans will be sent to the Solution Watson Machine Learning. With these data, machine learning algorithms generate the most efficient strategies for rescue and fire firefighting providing recommendations on the safest, easiest entry points, manpower requirement and possible  additional equipment requirements.   On the journey of implementing these improvements, there may be some challenges to overcome. Consolidation and confidentiality of the required information such as site plans and blueprint can be a hurdle. Additionally, training data for machine learning have to be procured over time from incidents, having a long implementation time.   In summary, early intervention is critical to saving lives. To ensure the safety of the deployed firefighters and reduce severe casualties to the bare minimum in an event of a fire breakout, strategizing and assessing the fire incident is especially crucial.   Fire fighting drones can be deployed upon receiving alerts from members of the public regarding a fire incident. This is to assess the situation to prevent false alarm, or to start fire fighting even before the arrival of deployed firefighters.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["8aef6436.1fcc98"]]},{"id":"683efce6.528e34","type":"wml","z":"fe3030af.df828","name":"Detection ML","connection":"bb79124d.d8919","wml-mode":"runPrediction","model":"","deployment":"","modelhidden":"","deploymenthidden":"","x":360,"y":520,"wires":[["a989df7a.8d739","da084c4d.a74c1"]]},{"id":"a989df7a.8d739","type":"debug","z":"fe3030af.df828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":400,"wires":[]},{"id":"ba54bdd9.38f37","type":"drone-data","z":"fe3030af.df828","name":"Drone Data","settings":"","x":150,"y":520,"wires":[["683efce6.528e34"]]},{"id":"b7d7c31b.b3833","type":"ui_ui_control","z":"fe3030af.df828","name":"","events":"all","x":80,"y":440,"wires":[["5eabf17.80e7d1"]]},{"id":"2af07a5c.9e4406","type":"cos-put","z":"fe3030af.df828","name":"Inicident Information PUT","bucket":"","create":"0","objectname":"","mode":"0","filepath":"","filename":"","contentType":"","geturl":false,"cosconfig":"","x":830,"y":240,"wires":[["c55118d8.0e15f8"]]},{"id":"a17fe376.04299","type":"func","z":"fe3030af.df828","name":"AI Function","connection":"","wml-mode":"runPrediction","deploymentid":"","x":530,"y":360,"wires":[["2af07a5c.9e4406"]]},{"id":"44fa451b.6bf11c","type":"inject","z":"fe3030af.df828","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[[]]},{"id":"ef7a5fe2.91468","type":"function","z":"fe3030af.df828","name":"dataframe (pyhton)","func":"#Officer receiving the call will first key in the respective information in the interface from information obtained from the call (not-exhaustive, can be further updated)\n#There could be machine learning enhancement, identification of keywords after speech to text function - intent used for input in dataframe\n\n#through an interface, different functions can be called in the application\nimport pandas as pd\ndef call():\n  dateandtime= input(\"date (dd/mm/yy form) and time:\")\n  address = input(\"Where is the fire/emergency at?:\")\n  sizeoffire = input(\"How many people are trapped in the building/involved in the emergency:\")\n  typeoffire = input(\"Type of fire: \")\n  othercomments = input(\"Any other comments:\")\n  columns =[dateandtime , address , sizeoffire, typeoffire, othercomments]\n  return columns\n\nlabels = [\"Date and time\", \"Address\", \"Size of fire\", \"type of fire\", \"other comments\"]\ntable = pd.DataFrame(labels)\ndf2 = call()\ndef append(df2):\n  table[\"case\"] = df2\nappend(df2) #everytime there is a new input, the function is called to create a new column\nprint(table)\n\ndef case():\n  labels = [\"Date and time\", \"Address\", \"Size of fire\", \"type of fire\", \"other comments\"]\n  table = pd.DataFrame(labels)\n  table[\"case\"] = call()\n  return table.to_csv(\"CASE.csv\") #consolidates the input information for that specific case for ease of dissemination\n\ndef end(table):\n  table.to_csv(\"DATE.csv\") #input date to convert to the day's case file\nend(table)\n","outputs":1,"noerr":104,"x":210,"y":240,"wires":[["2af07a5c.9e4406"]]},{"id":"4838cf55.11845","type":"cos-get","z":"fe3030af.df828","name":"Site Plans Retrival GET","bucket":"cloud-object-storage-siteplans","objectname":"","mode":"0","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"fa84bb02.faed58","x":1110,"y":360,"wires":[["c7ee7559.463288"]]},{"id":"da084c4d.a74c1","type":"cos-put","z":"fe3030af.df828","name":"","bucket":"","create":"0","objectname":"","mode":"0","filepath":"","filename":"","contentType":"","geturl":false,"cosconfig":"","x":860,"y":440,"wires":[["9b9c37f7.dcd0a8"]]},{"id":"9b9c37f7.dcd0a8","type":"cos-get","z":"fe3030af.df828","name":"","bucket":"","objectname":"","mode":"0","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"","x":1110,"y":420,"wires":[["c7ee7559.463288"]]},{"id":"c7ee7559.463288","type":"wml","z":"fe3030af.df828","name":"Solution ML","connection":"","wml-mode":"runPrediction","model":"","deployment":"","modelhidden":"","deploymenthidden":"","x":1450,"y":320,"wires":[["edeaea1c.bd1778"]]},{"id":"c55118d8.0e15f8","type":"cos-get","z":"fe3030af.df828","name":"Incident Information GET","bucket":"","objectname":"","mode":"0","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"","x":950,"y":300,"wires":[["4838cf55.11845","c7ee7559.463288"]]},{"id":"edeaea1c.bd1778","type":"debug","z":"fe3030af.df828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":320,"wires":[]},{"id":"5eabf17.80e7d1","type":"drone-control","z":"fe3030af.df828","name":"Drone Control","settings":"","x":300,"y":440,"wires":[[]]},{"id":"bb79124d.d8919","type":"wml-config","z":"","host":"https://us-south.ml.cloud.ibm.com","instanceid":"bd0da5ae-c5b5-40fd-bafc-dd42d3706f23","name":""},{"id":"fa84bb02.faed58","type":"cos-config","z":"","apiKeyId":"fQC4jO1BP3SoSrV4J1-IfDKU4yZK6fd3Ugvkl2J6CI8e","location":"","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"","serviceInstanceId":"resource_instance_id\": \"crn:v1:bluemix:public:cloud-object-storage:global:a/247928c95c1b4440b8a3ac65ae1b8801:ce04b8c5-3787-4da0-a520-fffd8bc563a8::","hmac":false,"accesskeyid":"","accesskey":"","name":""}]